extends base.pug

block append vars
  - var stylesheet='/account.css'
  - var script='/account.js'

block main
  .container
    
    h1.title Account information

    h2 User ID
    p= user.id

    h2 Account Type
    p= user.charity ? 'Public charity' : 'Public citizen'

    h2 Account creation date
    p= user.createdAt.toDateString()

    form(action="logout" method="POST")
      .field
        .control
          button.button.primary#logout(type="submit") Logout
